/* .background{
    background-image: url("./resources/house.jpg");  
    background-color: rgb(199, 236, 230);
     background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
   
    } */

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }