/* .center {
    text-align: center;
} */
/* .link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6000;
    color: white;
    margin-left: 33%;
    margin-right: 33%;
    display: inline-block;
    margin-top: 1em;
} */
/* .info {
    color: black;
    background-color: #e4f2f8;
    margin: auto;
    padding: 15px 10px;
    text-align: left;
    width: 300px;
    border-radius: 5px;
} */
/* .code {
    font-family: monospace;
} */
/* .container {
    margin-top: 30px;
} */

/* img {
    max-width: 150px;
} */

.background{
    background-image: url("./resources/house.jpg");  
    background-color: rgb(22, 71, 43);
     background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
   
    }

    .button-46 {
        align-items: center;
        background-color: rgba(240, 240, 240, 0.26);
        border: 1px solid #DFDFDF;
        border-radius: 16px;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        display: flex;
        font-family: Inter, sans-serif;
        font-size: 18px;
        justify-content: center;
        line-height: 10px;
        max-width: 100%;
        padding: 14px 22px;
        text-decoration: none;
        transition: all .2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
      }
      
      .button-46:active,
      .button-46:hover {
        outline: 0;
      }
      
      .button-46:hover {
        background-color: #fffbfd;
        border-color: rgba(0, 0, 0, 0.19);
      }
      
      @media (min-width: 768px) {
        .button-46 {
          font-size: 20px;
          min-width: 200px;
          padding: 14px 16px;
        }
      }
.nav-pretty{
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 10px;
  justify-content: center;
  color: #000000;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
}
